---
import BattleApp from '../components/BattleApp.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Mona Mayhem</title>
	</head>
	<body>
		<main>
			<h1>Mona Mayhem</h1>
			<p>GitHub warriors clash in the Contribution Arena.</p>
			<p><a href="/history">View Battle Chronicles</a></p>
			<BattleApp />
		</main>
	</body>
</html>
